<br><br><br>
<div class="text-center">
    <h2>Editing Candidate Detail</h2>
</div>
<%= render 'form', candidate_detail: @candidate_detail %>
<div class="text-center">
    <%= link_to 'Show', @candidate_detail,class:"btn btn-default" %> |
    <%= link_to 'Back', candidate_details_path ,class:"btn btn-default"%>
</div>