<br><br><br>
<div class="text-center">
  <h2>New Candidate Detail</h2>
</div>
<%= render 'form', candidate_detail: @candidate_detail %>
<div class="text-center">
  <%= link_to 'Back', candidate_details_path,class:"btn btn-default" %>
</div>